#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
#caption {
    padding: 15px;
}
  #tribute-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    margin-top: 20px;
    width: 500px;
  }
  #bottomlink {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: auto;
  }
  
  